*, *:before, *:after {
    box-sizing: border-box;
  }


  /* L    A    N     D    I    N    G      P    A   G    E   */

.line{
  border-left: 1px solid #C8C8C8;
  width: 1px;
  height: 50vh;
  margin-left: 0;
  flex-shrink: 0;
  flex-wrap: wrap
}
.rowflex{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.singleusersvg{
  fill: none;
  position: top;
}
.singleusersvg:hover{
  fill: #C8C8C8;
}
.multipleuserssvg{
  fill: none;
}
.multipleuserssvg:hover{
  fill: #C8C8C8;
  position: top;
}
.singletext{
  font-family:'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #C8C8C8;
  margin-top: 25px;
}
.singleholder{
  display: flex;
  flex-direction: column;
  align-items: center;
}


















.body{
    background-color: #262626;
}
.heading {
    font-family:'Montserrat', sans-serif; 
    font-size: 48px; 
    align-items: center; 
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.formstructure{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    background-color: #262626;
    box-shadow: 0px 0px 16px 1px rgba(255, 255, 255, 0.41);
    border-radius: 10px;
    width: 33%;
    height: auto;
    
}
.svg{
    justify-items: center;
    justify-content: center;
    display: flex;
    margin-top: 60px;
}
.superform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center ;
    margin-right: auto;
}
.formfields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center ;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
}
.entryfields{
    flex-direction: row;
    justify-content: center;
    justify-items: center;

}

label{
    color: #C8C8C8;
}
.gprefs{
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
.genreprefs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: space-around;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}
#genres{
    width: 29%;
}
.submitbutton{
    width: 93.6%;
    height: 40px;
    background: #262EFF;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

}

input{
    width: 93.6%;
    height: 40px;
    border: 1px solid #C8C8C8;
    background-color: #262626;
    border-radius: 10px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
    font-size: 18px;
    color: white;
    padding-left: 10px;
}
input::placeholder{
    font-family: 'Montserrat', sans-serif;;
    font-weight: 200;
    color: #C8C8C8;
    font-size: 18px;
}
select[id = age-ranges], select[id = Languages]{
    width: 93.6%;
    height: 40px;
    background-color: #262626;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;;
    margin-top: 30px;
    font-weight: 200;
    font-size: 18px;
    color: #C8C8C8;
    padding-left: 10px;
}
select[id = gp1], select[id = gp2], select[id = gp3]{
    width: 32%;
    height: 40px;
    background-color: #262626;
    border: 1px solid #C8C8C8;
    font-family: 'Montserrat', sans-serif;;
    margin-top: 13px;
    font-weight: 200;
    font-size: 18px;
    border-radius: 10px;
    color: #C8C8C8;
    padding-left: 10px;
}
select::placeholder{
    font-family: 'Montserrat', sans-serif;;
    color: #C8C8C8;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 200;
    font-size: 18px;
    color: #C8C8C8;
}


.footer{
  position: static;
  bottom: 0;
  width: 100%;
  height: 2.5rem;   
  bottom: 0;
  /* position: fixed; */
  background: #3F3F3F;
}


/* The container */
.container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #262EFF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}
