*, *:before, *:after {
    box-sizing: border-box;
  }

.body{
    background-color: #262626;
}
.heading {
    font-family:'Montserrat', sans-serif; 
    font-size: 48px; 
    align-items: center; 
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.formstructure{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    background-color: #262626;
    box-shadow: 0px 0px 16px 1px rgba(255, 255, 255, 0.41);
    border-radius: 10px;
    width: 33%;
    height: 760px;
    
}
.svg{
    justify-items: center;
    justify-content: center;
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}
.superform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center ;
    margin-right: auto;
}
.formfields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center ;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
}
.entryfields{
    flex-direction: row;
    justify-content: center;
    justify-items: center;

}

label{
    color: #C8C8C8;
}
.gprefs{
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
.genreprefs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: space-around;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}
#genres{
    width: 29%;
}
.submitbutton{
    width: 29.06%;
    height: 40px;
    background: #262EFF;
    border-radius: 10px;
    color: white;
    cursor: pointer;

}

input{
    width: 93.6%;
    height: 40px;
    border: 1px solid #C8C8C8;
    background-color: #262626;
    border-radius: 10px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
    font-size: 20px;
    color: white;
}
input::placeholder{
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
    color: #C8C8C8;
    font-size: 20px;
    margin-left: 10px;
}
select[id = age-ranges], select[id = Languages]{
    width: 93.6%;
    height: 40px;
    background-color: #262626;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;;
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    color: #C8C8C8;
}
select[id = gp1], select[id = gp2], select[id = gp3]{
    width: 32%;
    height: 40px;
    background-color: #262626;
    border: 1px solid #C8C8C8;
    font-family: 'Montserrat', sans-serif;;
    margin-top: 13px;
    font-weight: 400;
    font-size: 20px;
    border-radius: 10px;
    color: #C8C8C8;
}
select::placeholder{
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
    color: #C8C8C8;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: 400;
    font-size: 20px;
    color: #C8C8C8;
    margin-left: 10px;
}

/* TIC TAC TOE  */


.container{
	width: 330px;
	overflow: hidden;
	margin: 50px auto 0 auto;
}

.container span{
	display: block;
	text-align: center;
	font-family: sans-serif;
	font-size: 40px;
	margin-bottom: 40px;
}

.container .box{
	float: left;
	width: 100px;
	height: 100px;
	border: 2px solid #C8C8C8;
	transition: all .25s ease-in-out;
	font-size: 85px;
	text-align: center;
	line-height: 100px; 
	cursor: pointer;
    color: #262EFF;
    font-family:'Montserrat', sans-serif;;
  }

.container .box:hover{
	background: #C8C8C8;
	color: #262EFF;
}

.btn{
	width: 200px;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	display: block;
	margin: 40px auto;
	-webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
}

.win{
	background: lightgreen; 
	color: rgb(0, 94, 255);
}


/* WORDLE GAME  */
:root {
    --cell-width: 50px;
    --cell-height: 50px;
  }
  .boundbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  body { background-color: #222; }
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #f5f5f5;
    padding: 10px;
    margin: 20px 100px 40px 100px;
    font-family: 'Montserrat', sans-serif;;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    width: 290px;
    margin: 10px 0px;
  }
  .row.active .cell input{
    border-color: #1f8ae7;
  }
  .cell {
    height: var(--cell-height);
    width: var(--cell-width);
    float: left;
    padding: 2px;
    margin: 1px 2px;
    background: transparent;
  }
  .cell input {
    height: inherit;
    width: inherit;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border-radius: 5px;
    color: #f5f5f5;
    font-weight: bold;
    font-family: arial;
    font-family: 'Montserrat', sans-serif;
  }
  .cell.correct input {
    background-color: #539d3e;
  }
  .cell.wrong-pos input {
     background-color: #bba636;
  }
  .cell.incorrect input {
     background-color: #4c4b4b;
  }
  
  .boundbox:nth-child(3) {
    margin-top: 10px;
  }
  .boundbox:nth-child(3) {
    font-family: arial;
    font-size: 28px;
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
  }

