<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type='text/css' href="{% static 'stylesheet.css' %}">
    <link rel="stylesheet" href="/static/stylesheet.css?{% now "U" %}"/>
    <title>WatchWorthy</title>
</head>
<body class="body">
    <div class="heading">
        WatchWorthy.
    </div>
            <div class="form" style="margin: auto; width: 70%; padding: 30px; height: auto;">
                {% for movie in recommendations %}
                    <div style="color: white; font-family: 'Montserrat', sans-serif; font-size: 40px; font-weight: 600;">
                        {{movie.title}}
                    </div>
                    <div style="color: #c8c8c8; font-family: 'Montserrat', sans-serif; font-size: 20px; font-weight: 400;">
                        Genre: {{movie.genre}}
                    </div>
                    <br>
                    <!-- <input class="submitbutton" type="submit" value="Like">
                    </input>
                    <input class="submitbutton" type="submit" value="Dislike">
                    </input> -->
                {% endfor %}                
            </div>
    </div>
    

</body>
</html>